@import "./imports/_normalize.scss";
@import "./imports/_skeleton.scss";
@import "./imports/_devicons.scss";

$theme-purple : #4F3C5F;
$theme-red : #A5677A;

@mixin media-query($size: 650px){
  @media screen and (min-width: $size ){
    @content;
  }
}

*{ box-sizing: border-box }

body{
  font-family: "Poppins";
}

img {
   width: 100%;
   display: block;
}

#app-container{
  @include media-query(){
    padding-left: 41.666%;
  }
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  a{
    padding: 10px;
    background: $theme-purple;
    display: block;
    margin: 6px;
    color: #fff;
    text-decoration: none;
  }
  @include media-query(){
    left: initial;
    right: 0;
    text-align: left;
  }
}



.profile-fixed{
  background: url('../images/portfolio-bg.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;

  /* Mobile Styles */
  padding: 30px 0;


  @include media-query(){
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 41.67%;
  }
}

.profile-fixed img{
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.profile-fixed > * {
  text-align: center;
  flex-basis: 100%;
}

.profile-fixed h1{
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-fixed p{
  color: #ccc  ;
  font-weight: 300;
  margin-top: 0;
}

.profile-content{
  padding-bottom: 4rem;
}

header {
  padding: 20px 0 15px;
  text-align: center;
  h2 { margin: 0;}
}

section{
  padding: 20px;
  max-width: 600px;
  font-size: 1.25em;
  color: #bbb;
  margin: 0 auto ;
  font-weight: 300;
}

section h4{
  color: $theme-red;
}


.skills-list{
  text-align: left;
}

.skills-list__single{
  display: inline-block;
  vertical-align: center;
  padding: 10px 15px;
  background: #ededed;
  margin: 5px 5px 5px 0px;
  color: $theme-purple;
}

.contactinfo__single {
  line-height: initial;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none;

}

.contactinfo__single:hover{
  background: url('../images/grey.png');
  .contactinfo__title {
    color: #00BCD4;
  }
}

.contactinfo__title{
  color: #aaa;
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 300;
  width: 90%;
}

.contactinfo__date{
  display: inline-block;
  align-content: end;
  vertical-align: middle;
  color: #E7AAA5;
  text-align: center;
  font-size: 32px;
  width: 8%;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #333;
}

.project{
  margin-bottom: 4rem;
  width: 100%;
  margin: 0 auto 10px auto;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.project--solo{
  border-left: 12px $theme-red solid;
  color: $theme-red


}

.project--team{
  border-left: 12px $theme-purple solid;
  color: $theme-purple
}



.project__title{
  font-size: 18px; margin-top: 0;
}


.project__type{
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  font-size: .675em;
  margin-right: 10px;
  padding: 0 7px;
  width: 60px;
  text-align: center;
  color: #aaa;
}

.projects__icon{
  font-size: 21px; margin-top: 0; margin-bottom: 5px;
}

.project-types-list{
  text-align: right;
  margin-bottom: 10px;
  font-size: 0;
}

.project-type{
  font-size: medium;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
  border-bottom: #aaa 4px solid;
  color: #aaa;
}

.project-type--selected{
  background: #f0f0f0;
}

.project-type--solo{
  border-bottom: $theme-red 4px solid;
  color: $theme-red;
}

.project-type--team{
  border-bottom: $theme-purple 4px solid;
  color: #4F3C5F;
}


.techlist{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.techlist--hidden{
  display: none;
}

.techlist__icon{
  width: 24%;
  margin: .5%;
  font-size: 80px;
  border: 1px solid #ddd;
  text-align: center;
}

.job-timeline{
  padding-left: 25px;
}

.job{
  color: #666;
  border-left: 2px solid #333;
  position: relative;
  padding-left: 40px;
  padding-bottom: 30px;
}

.job__years{
  background: #666;
  color: #fff;
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  align-content: center;
  position: absolute;
  top: 0;
  left: 0 ;
  transform: translateX(-50%);
}

.job__start{
  width: 100%;
  font-size: 12px;
  margin: 0;
}

.job__end{
  width: 100%;
  font-size: 12px;
  margin: 0;
}
.job__title{
  margin: 3px 0;
  font-size: 21px;
}

.job__company{
  font-size: 18px;
  color: #aaa;
}

.job__description{
  font-size: 14px;
}

.job__responsibilities{
  margin-bottom: 0;
}

.job__responsibilities li{
  margin-bottom: 3px;
  font-size: 14px;
}
