@import "./imports/_normalize.scss";
@import "./imports/_skeleton.scss";
@import "./imports/_devicons.scss";

$theme-purple : #4F3C5F;
$theme-red : #A5677A;

@mixin media-query($size: 650px){
  @media screen and (min-width: $size ){
    @content;
  }
}

*{ box-sizing: border-box }

body{
  font-family: "Poppins";
}

img {
   width: 100%;
   display: block;
}

#app-container{
  @include media-query(){
    padding-left: 41.666%;
  }
}

.profile-fixed{
  background: url('../images/portfolio-bg.jpeg');
  background-size: cover;
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  color: #fff;

  /* Mobile Styles */
  padding: 30px 0;


  @include media-query(){
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    height: 100vh;
    width: 41.67%;
  }
}

.profile-fixed img{
  max-width: 100px;
  border-radius: 50%;
  display: block;
  margin: 10px auto;
}

.profile-fixed > * {
  text-align: center;
  flex-basis: 100%;
}

.profile-fixed h1{
  font-weight: 500;
  margin-bottom: 8px;
}

.profile-fixed p{
  color: #ccc  ;
  font-weight: 300;
  margin-top: 0;
}

header {
  padding: 20px 0 15px;
  text-align: center;
  h2 { margin: 0;}
}

section{
  padding: 20px;
  max-width: 600px;
  font-size: 1.25em;
  color: #bbb;
  margin: 0 auto ;
  font-weight: 300;
}

section h4{
  color: $theme-red;
}


.skills-list{
  text-align: left;
}

.skills-list__single{
  display: inline-block;
  vertical-align: center;
  padding: 10px 15px;
  background: #ededed;
  margin: 5px 5px 5px 0px;
  color: $theme-purple;
}

.contactinfo__single {
  line-height: initial;
  display: block;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 30px;
  padding: 5px;
  text-decoration: none;

}

.contactinfo__single:hover{
  background: url('../images/grey.png');
  .contactinfo__title {
    color: #00BCD4;
  }
}

.contactinfo__title{
  color: #aaa;
  display: inline-block;
  align-content: center;
  vertical-align: middle;
  width: 100%;
  font-weight: 300;
  width: 90%;
}

.contactinfo__date{
  display: inline-block;
  align-content: end;
  vertical-align: middle;
  color: #E7AAA5;
  text-align: center;
  font-size: 32px;
  width: 8%;
}

.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #333;
}

.projects__single{
  margin-bottom: 4rem;
  width: 100%;
  margin: 0 auto 10px auto;
  background: #eee;
  padding: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.projects__single--solo{
  border-left: 12px $theme-red solid;
  color: $theme-red


}

.projects__single--team{
  border-left: 12px $theme-purple solid;
  color: $theme-purple
}



.projects__title{
  font-size: 18px; margin-top: 0;
}


.projects__type{
  font-size: .675em;
  width: 72px;
  text-align: center;
  color: #aaa;
}

.projects__icon{
  font-size: 21px; margin-top: 0; margin-bottom: 5px;
}

.types{
  text-align: right;
  margin-bottom: 10px;
  font-size: 0;
}

.types__single{
  font-size: medium;
  padding: 10px 16px;
  border-bottom: 1px solid #ddd;
  display: inline-block;
}

.types__single--solo{

  border-bottom: $theme-red 6px solid;
  color: $theme-red;

}

.types__single--team{
  border-bottom: $theme-purple 6px solid;
  color: #4F3C5F;
}


.techlist{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.techlist--hidden{
  display: none;
}

.techlist__icon{
  width: 24%;
  margin: .5%;
  font-size: 80px;
  border: 1px solid #ddd;
  text-align: center;
}
